asgiref
beautifulsoup4
bootstrap4
certifi
cffi
charset-normalizer
confusable-homoglyphs
cryptography
defusedxml
Django
django-allauth
django-bootstrap4
django-cors-headers
djangorestframework
gunicorn
idna
oauthlib
packaging
pillow
protobuf
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
soupsieve
sqlparse
typing_extensions
urllib3
webencodings
whitenoise
zipp