@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;00;700;800&family=Freehand&family=Inter:wght@100;200;300;400;500;00;700;800;900&display=swap");

:root {
  --primary-color: rgb(73, 20, 136);
  --secondary-color: rgb(0, 125, 183);
  --background-color: rgb(243, 239, 245);
  --text-color: #141618;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Figtree", sans-serif;
}

nav {
  color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-card {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-data {
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.course-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
}

.course-link {
  color: var(--primary-color);
  text-decoration: none;
  width: 50%;
}

.questions-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  float: right;
}

.course-description {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 10px;
}

.course-duration {
  font-size: 1.5rem;
  color: gray;
  font-weight: 600;
  margin-top: 3px;
}

.number {
  font-weight: 800;
  color: var(--primary-color);
}

.course-link > a {
  color: var(--background-color);
  text-decoration: none;
  background: var(--primary-color);
  padding: 8px 14px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 00;
  border: var(--secondary-color) 2px solid;
  transition: all 0.2s ease-in-out;
}

.course-link > a:hover {
  background: var(--background-color);
  color: var(--primary-color);
}

.image-section {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 200px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 2.0rem;
  background-color: #14161802;
  backdrop-filter: blur(1px);
  color: var(--primary-color);
  display: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.play-button:hover {
  display: flex;
  backdrop-filter: blur(5px);
}

.info-section {
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.course-card img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-image {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}

.course-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.course-card h2 {
  margin-top: 0;
}

.course-card p {
  margin-bottom: 0;
}

.info-section > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.info-section > section > p {
  font-size: 1.5rem;
  color: gray;
  font-weight: 600;
  margin-top: 3px;
}

.bottom-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
