{% extends "customadmin/base.html" %}
{% block content %}

<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-6">
      
          <div class="small-box bg-secondary">
            <div class="inner">
              <h1>{{total_users_count}}</h1>
              <p>Total Users</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-people"></i>
            </div>
            <a href="{% url 'admin_view_all_users' %}" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
     
    
        <div class="col-lg-3 col-6">
     
          <div class="small-box bg-success">
            <div class="inner">
              <h1>{{total_exam_count}}</h1>
              <p>Exams</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-bookmarks"></i>
            </div>
            <a href="{% url 'admin_exam_list' %}" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
     
      </div>
      <div class="row">
        <div class="col-lg-3 col-6">
         
          <div class="small-box bg-secondary">
            <div class="inner">
              <h1>{{total_courses_count}}</h1>
              <p>Courses</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book"></i>
            </div>
            <a href="{% url 'admin_course_list' %}" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      
      </div>
    </div>
  </section>


</div>
{% endblock %}