{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Get Started in Simple Steps</h1>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">You're just a few steps away from getting started with your test.</h3>
                </div>
                <!-- /.card-header -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="card course-card" onclick="openCourse('course1')">
                      <div class="card-body">
                        <h5 class="card-title">Test Course 1</h5>
                        <p class="card-text">Description of Test for Course 1</p>
                        <div class="course-metadata">
                          <a href="{% url 'test' %}" class="btn btn-primary">Start Test</a>
                          <div class="questions-count">
                            <span class="number">10</span> Questions
                          </div>
                          <div class="course-duration">
                            <i class="far fa-clock"></i> 1 hr
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <div class="card course-card" onclick="openCourse('course2')">
                      <div class="card-body">
                        <h5 class="card-title">Test Course 2</h5>
                        <p class="card-text">Description of Test for Course 2</p>
                        <div class="course-metadata">
                          <a href="{% url 'test' %}" class="btn btn-primary">Start Test</a>
                          <div class="questions-count">
                            <span class="number">7</span> Questions
                          </div>
                          <div class="course-duration">
                            <i class="far fa-clock"></i> 20 min
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      
    <!-- /.content -->
  </div>
  {% endblock %}
